<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>

<body>
    <header class="main-header">
        <div class="header-top"><img src="/img/logo3.svg" width="20%" class="logo">
            <div class="search-bar">
                <input type="text" name="Buscar" placeholder="Buscar productos, marcas">

                <button class="button"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
            <h2 class="titulo1"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</h2>

        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="header-bot">
            <ul class="nav-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="nav-right">
                <li><a href="">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>


        </nav>

    </header>

    <main class="main">
        <nav class="texto"><img class="banner" src="./img/banner.jpg" width="700px" alt="banner"></nav>
        <h3>Ultimos productos vistos</h3>
        <section class="contenedor">
            <article class="producto">
                <img src="./img/cafetera.jpg" width="100px" alt="cafetera">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="producto">
                <img src="./img/mac.jpg" width="100px" alt="mac">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>


            <article class="producto">
                <img src="./img/cel.jpg" width="100px" alt="celular">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>

            </article>



            <article class="producto">
                <img src="./img/tv.jpg" width="100px" alt="tv">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>

            </article>

        </section>

        <h3>Ofertas</h3>
        <section class="contenedor">
            <article class="producto">
                <img src="./img/cafetera.jpg" width="100px" alt="cafetera">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="producto">
                <img src="./img/mac.jpg" width="100px" alt="mac">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>


            <article class="producto">
                <img src="./img/cel.jpg" width="100px" alt="celular">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>

            </article>



            <article class="producto">
                <img src="./img/tv.jpg" width="100px" alt="tv">
                <div class="border">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>

            </article>

        </section>



    </main>

    <footer>
        <div class="footer">
            <div class="detail">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="texto" class="hola">Paga con tarjeta o en efectivo</h4>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="detail">
                <i class="fa-solid fa-gift"></i>
                <h4 class="texto">Envío gratis desde $ 2.500</h4>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="detail">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="texto">Seguridad, de principio a fin</h4>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <h4 class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>



    </footer>


</body>

</html>