<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regristrarse</title>
    <link rel="stylesheet" href="./css/registrer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    
    <header class="main-header">
        <div class="header-top"><img src="/img/logo3.svg" width="20%" class="logo">
            <div class="search-bar">
                <input type="text" name="Buscar" placeholder="Buscar productos, marcas">

                <button class="button"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
            <h2 class="titulo1"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</h2>

        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="header-bot">
            <ul class="nav-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="nav-right">
                <li><a href="">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>


        </nav>

    </header>

    <main>
        <div class="general">
        <form action="/registrer" method="POST">
     
                <div class="inputs">
                    <input type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido">
                </div>
                <div class="inputs">
                    <input type="text" name="Nombre de Usuario" placeholder="Nombre de Usuario">
                </div>
                <div class="inputs">
                    <label class="Fecha"> Fecha de Nacimiento</label>
                    <input type="date" value="2000-07-07" min="1890-01-01" max="2023-08-05">
                </div>
                <div class="inputs">
                    <input type="text" name="Domicilio" placeholder="Domicio">
                </div>
                <div class="inputs">
                    <label for="Perfil">Perfil:</label>
                    <select name="Perfil" id="Perfil">
                        <option value="Comprar">Comprar</option>
                        <option value="Vender">Vender</option>
                    </select>
                </div class="inputs">
                <div class="inputs"><label for="Categorias">Categorias de interes:</label>
                    <label class="checkbox">
                        Electrodomesticos <input type="checkbox" name="Categorias" value="Electrodomesticos">
                    </label>
                    <label>
                        Moda <input type="checkbox" name="Categorias" value="Moda">
                    </label>
                    <label>
                        Hogar <input type="checkbox" name="Categorias" value="Moda">
                    </label>
                    <label>
                        Jugueteria <input type="checkbox" name="Categorias" value="Jugueteria">
                    </label>
                    <label>
                        Vida Sana <input type="checkbox" name="Categorias" value="Vida Sana">
                    </label>
                </div>
                <div class="inputs">
                    <label>Seleccionar imagen de perfil</label>
                    <input type="file" name="avatar" accept=".jpg">
                </div>
                <div class="inputs">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="inputs">
                    <input type="password" name="confirm-pass" placeholder="Confirmar Contraseña">
                </div>
                <div class="inputs">
                    <button>Enviar</button>
                </div>
                <div class="inputs">
                    <button>Borrar</button>
                </div>
        </form>
    </div>

    </main>



      
    <footer>
        <div class="footer">
            <div class="detail">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="texto" class="hola">Paga con tarjeta o en efectivo</h4>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="detail">
                <i class="fa-solid fa-gift"></i>
                <h4 class="texto">Envío gratis desde $ 2.500</h4>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="detail">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="texto">Seguridad, de principio a fin</h4>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <h4 class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>



    </footer>






</body>

</html>